@tailwind base;
@tailwind components;
@tailwind utilities;



body, html {
  font-family: 'Poppins', sans-serif;
  @apply bg-slate-50
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.box_shadow {
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
}

.container {
  margin: 0 auto;
  max-width: 1290px;
  padding: 15px ;
}




.navItem {

  @apply  border-b-2  border-transparent hover:border-black pb-1 transition duration-500 
   
}

.button {

  @apply  border-2 hover:bg-softRed px-1 md:px-3 py-2 border-transparent hover:border-black  transition duration-500  
   
}
